/* App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #073642;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NavBar {
  background-color: #002b36;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

.App-header {
  background-color: #073642;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
  margin-top: 10px;
}
