/* App.css 

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #002b36;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NavBar {
  background-color: #073e57;
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

.App-header {
  background-color: #002b36;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.App-link {
  color: #61dafb;
  margin-top: 10px;
}
*/

/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #002b36;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.NavBar {
  background-color: #002b36;
  color: #23c97f;
  padding: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}

.App-container {
  background-color: #23c97f;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
}

.App-header {
  font-size: 1.5rem;
  color: #333;
}

.App-link {
  color: #61dafb;
  margin-top: 10px;
}
